{% extends 'base.html.twig' %}

{% block body %}
    <main class="mt-1">
        <div class="jumbotron tomato" >
            <h1 class="display-4 text-center ">SUPER TOMATE</h1>
            <h2 class="text-center ">Le héros du potager</h2>
        </div>
        <section class="pt-3">
            <h2 class="container display-4 text-primary text-center pt-3 mb-4 home-title-2">Les mains dans la tambouille</h2>
            <div class="container pt-3">
                <p>C’est une catastrophe ! On recense toujours plus de cas de recettes de cuisine éparpillées un peu
                    partout sur la toile. Face à ce désastre, nous avons fait appel aux pouvoirs d’un sauveur : Super
                    Tomate.</p>
                <p>Ce super-héros est né pour centraliser les petits plats végétariens et vegans de votre vie
                    quotidienne. Grâce à lui, vos recettes personnelles seront en bonne compagnie et se feront de
                    nouveaux amis.</p>
                <p>Alors n’attendez plus et amenez-nous vos plus beaux fruits et légumes pour qu’ils puissent
                    s’épanouir sous la protection vitaminée de Super Tomate !</p>
            </div>
        </section>
        <section class="pt-3">
            <h2 class="container display-4 text-primary text-center pt-3 mb-4 home-title-2">Les jeunes pousses</h2>
            <div class="container pt-3">
                <div>
                    <div class="card-group">
                        {% for recipe in recipes %}
                            {% include 'app/components/recipeCard.html.twig' with {'recipe': recipe, 'col': 'col-3' } %}
                        {% endfor %}
                    </div>
                </div>
            </div>       
        </section>
        <section class="pt-3">
            <h2 class="container display-4 text-primary text-center pt-3 mb-4 home-title-2">La super-héroïne du potager</h2>
            <div class="container pt-3">
                <div class="row p-3">
                    <div id="recette-img" class="col">
                        <img class="img-fluid card" alt={{ headline.recipe.name }} src={{ asset(headline.recipe.picture) }}>
                    </div>
                    <div class="col text-center p-4">
                        <h3 class="text-center home-title-3 py-2">{{ headline.recipe.name }}</h3>
                        <p class="heroine">{{ headline.highlight.content }}</p>
                        <a class="btn btn-danger py-3" href={{ path('app_recipe', { 'category': headline.recipe.category.name, 'slug': headline.recipe.slug, 'recipe': headline.recipe.id }) }}>Je découvre la recette</a>
                    </div>
                </div>
            </div>   
        </section>
    </main>    
{% endblock %}



