{% extends 'app/appTemplates/adminNavbar.html.twig' %}

{% block tab %}
	<div class="container card bg-white p-3 mb-3"><div class="container">
		<h2 class="pt-3 mb-4 recipe">
			<span id="js-count-comments">{{ comments|length }}</span> commentaires
		</h2>
		{% for comment in comments %}
			<div class="list-group-item ">
				<div class="d-flex w-100 justify-content-between my-2">
					<h3 class="recipe-3">{{ comment.recipe.user.name }}</h3>
					<small class="text-muted">Le {{ comment.createdAt|date("m/d/Y") }}</small>
				</div>
				<p class="mb-2">{{comment.content|raw }}</p>
				<div class="row justify-content-end">
					<button class="btn btn-outline-success btn-sm mr-3 js-validate-comment" data-id={{ comment.id }}>Valider</button>
					<button class="btn btn-outline-danger btn-sm mr-3 js-block-comment" data-id={{ comment.id }}>Modérer</button>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
