{% extends 'app/appTemplates/adminNavbar.html.twig' %}

{% block tab %}
	<div class="container card bg-white p-3 mb-3">
		<div class="container">
			<h2 class="pt-3 mb-4 recipe">{{ recipeCount }} recettes à vérifier</h2>
			<div class="card px-4 mb-3">
				{% if recipeCount > 0  %}
					{{ form_start(form) }}
						<h3 class="display-2 text-center py-4">{{ form_widget(form.name, {'attr': {'class': 'validation_field'}}) }}</h3>
						<div class="row d-flex justify-content-around p-2">
							<div class="col">	
								<div class="text-center">Catégorie</div>
								{{ form_widget(form.category) }}	
							</div>
							<div class="col"> 
								<div class="text-center">Difficulté</div>
								{{ form_widget(form.difficulty) }}              
								
							</div>
							<div class="col"> 
								<div class="text-center">Portions</div>
								{{ form_widget(form.serve) }}              
								
							</div>
						</div>	
						<div class="row d-flex justify-content-around p-2">	
							<div class="col"> 
								<div class="text-center">Preparation</div>
								{{ form_widget(form.making) }}             
								
							</div>
							<div class="col">   
								<div class="text-center">Cuisson</div>
								{{ form_widget(form.cook) }}                 
								
							</div>
							<div class="col">  
								<div class="text-center">Pause</div>
								{{ form_widget(form.wait) }}  
							</div>
						</div>
						<div class="row p-3">
							<div id="recette-img" class="col"><img class="img-fluid card" src={{ vich_uploader_asset(recipe, 'imageFile') }}></div>
							<div class="col card py-3 lead">
								<h4 class="display-4 text-center  mb-4 recipe">Ingrédients</h4>
								<div class="container pt-3">
									<div class="mb-1">
										<ul>
											{% for ingredient in form.ingredients %}
												<li>{{ form_widget(ingredient.content, {'attr': {'class': 'validation_field food'}}) }}</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
						<section class="pt-3">
							<h4 class="display-4 text-center mb-4 recipe">Les étapes de la recette</h4>
							<div class="container py-3">
								{% for step in form.steps %}
									<div class="card p-3 mb-3">
										<h3>Étape {{ loop.index }}</h3>
										<p class="card-text">{{ form_widget(step.content, {'attr': {'class': 'validation_field'}}) }}</p>
									</div>
								{% endfor %}
							</div>
						</section>
						<button class="submit btn btn-secondary btn-lg btn-block mb-3">Valider la recette</button>
					{{ form_end(form) }}	
				{% endif %}	
			</div>
		</div>
	</div>
{% endblock %}
