<div class="filtered-list {{ col }}">
    <div class="card mb-4 text-center card-2">
        <h3 class="card-header js-recipeName">{{ recipe.name }}</h3>
        <a href={{ path('app_recipe', { 'categorySlug': recipe.category.slug, 'recipeSlug': recipe.slug, 'recipe': recipe.id }) }}><img src={{ vich_uploader_asset(recipe, 'imageFile') }} class="img-fluid" alt={{ recipe.name }}></a>
        <div class="card-body">
            <p class="card-text">
                {% for tag in recipe.tags %}
                    <span class="badge badge-secondary ml-1 js-recipeTags">{{ tag.name }}</span>
                {% endfor %}
            </p>    
            <a class="btn btn-outline-primary btn-sm" href={{ path('app_recipe', { 'categorySlug': recipe.category.slug, 'recipeSlug': recipe.slug, 'recipe': recipe.id }) }}>Visualiser</a>
        </div>
    </div>
</div>