{% extends 'pageTemplate.html.twig' %}

{% block page %}
	<div class="card px-4 mb-3">
		{% include 'app/components/jumbotron.html.twig' with {'title': 'Proposer une recette' } %}
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.serve) }}
            {{ form_row(form.making) }}
            {{ form_row(form.cook) }}
            {{ form_row(form.wait) }}
            {{ form_row(form.imageFile) }}
            {{ form_row(form.isDraft) }}
            {{ form_row(form.category) }}
            {{ form_row(form.difficulty) }}
            <h3>Ingrédients</h3>
            <ul class="js-ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
                {% for ingredient in form.ingredients %}
                    <div class="js-ingredient-row">
                        <li>{{ form_row(ingredient.rank) }}</li>
                        <li>{{ form_row(ingredient.content) }}</li>
                    </div>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-primary mt-2 btn-block">Envoyer</button>
        {{ form_end(form) }}
	</div>
{% endblock %}
